.webp .hero {
  background-image: url(@img/hero/bg.webp);
}

.hero {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(@img/hero/bg.png);
  
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    min-height: calc(100vh - 160px);
    padding: 10px 0;
  }

  &__text {
    font-size: 64px;
    text-align: center;
    color: $gray;
    max-width: 550px;
  }


  .title {
    max-width: 320px;

    &__heading {
      display: flex;
      gap: 10px;

      h1 {
        font-size: 26px;
        font-weight: 700;
        color: $gray;
        text-transform: uppercase;
      }
    }

    &__subheading {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 3.5px;
      text-transform: uppercase;
      color: $purple;
    }

  }
}
