// colors
$purple: #BC10D8;
$purple-25: rgba($color: $purple, $alpha: .25);
$peru: #CD853F;
$gray: #808080;
$grayForm: #F0F0F0;
$black: #212121;
$white: #F5F5F5;

// Container
$containerWidth: 1220px;

// breakpoints
$breakpoint1450: 1449.98px;
$breakpoint1300: 1299.98px;
$breakpoint1200: 1199.98px;
$breakpoint992: 991.98px;
$breakpoint768: 767.98px;
$breakpoint480: 479.98px;
$breakpoint375: 374.98px;

// Burger menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: black;
$burgerActiveColor: white;

// Fonts
$fontMain: 'Roboto', sans-serif;
